<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://az204cosmosdemo.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="WXe6eUbtKyKr5KK5Q4cqA6eweweGqGXd7Kqq1dEFfT1YItlXZemU52DHZ6BPdE0yYb5CeEjzwKApACDbHVWcdA==" />
    <add key="DatabaseId" value="Missions" />
    <add key="CollectionId" value="Apollo" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>  
</configuration>
