<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://az204cosmos23.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="kMpGsfSBCejbc2DPuotKVQUjeRQJrF6dB7KFAi7AQCQXXtfq9Qazjj3Bc8389BSfkVg6GPL112ETACDb0UMbPg==" />
    <add key="DatabaseId" value="Missions" />
    <add key="CollectionId" value="Apollo" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>  
</configuration>
