<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://az204cosmosdemo23.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="ku2u9xrsSx3cPWKghy0tSiZaIgLeHC5sKnarHw8W547xPvEsKuc1dGmoxnAdrkHLa6q1THsHcHyMACDbHCudKQ==" />
    <add key="DatabaseId" value="Missions" />
    <add key="CollectionId" value="Apollo" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>  
</configuration>
